<p> Número de preguntas: <%= numberquestions%> </p>
<p> Número de comentarios: <%= numbercomments %> </p>
<p> Número medio de comentarios por pregunta: <%=comments4questions %> </p>
<p> Número de preguntas con comentarios: <%= questionswithcomments %> </p>
<p> Número de preguntas sin comentarios: <%= questionswithoutcomments %> </p>